body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.connexion {
    color: white;
    background-color: #252836;
    width: 600px;
    height: 360px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px 40px 40px 40px;
}

.connexion h1 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 40px;
}

.connexion input {
    background-color: #2B2F40;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    height: 36px;
    width: 100%;
    margin-bottom: 20px;
}

.connexion button {
    background-color: #6757D6;
    border-radius: 10px;
    height: 36px;
    width: 131px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 13px;
    font-weight: 600;
}


form a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}